.register-now-circle{
    width:20rem;
    height:20rem;
    margin-left:auto;
    margin-right:auto;
    border-radius:20rem;
    font-size:3rem;
    line-height:20rem;
    color:white;
    text-align:center;
    background-color:red;
}

.hidden-element{
    display:none;
}
