{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{% trans %}CORE.API_ZONE_EDIT_TITLE{% endtrans %}{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                {{ form_start(form) }}
                <h2>{% trans %}CORE.EDIT_YOUR_DATA{% endtrans %}</h2>
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}