{% extends 'base.html.twig' %}

{% block title %}{% trans %}CORE.API_ZONE_LOGIN_TITLE{% endtrans %}{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
<script>
    var successfulLoginRedirect = "{{ path('api-zone') }}";
    var checkValidity = function(){
        var key = $('#api_key_login_form_loginToken').val();
        var form = $("form[name='api_key_login_form']");
        $('#infoBox').html('<div class="alert alert-info">{% trans %}CORE.LOGIN_IN_PROGRESS{% endtrans %}</div>');
        $('#errorBox').html('');
        $.post('{{ path('login-api-zone-check') }}', { apikey:key }).always(function(result){
            if(result === true){
                window.location = successfulLoginRedirect;
            } else {
                $('#infoBox').html('');
                $('#errorBox').html('<div class="alert alert-danger">{% trans %}CORE.API_KEY_NOT_VALID{% endtrans %}</div>');
            }
        });

    };
    $( document ).ready(function(){
        var form = $("form[name='api_key_login_form']");
        form.on('submit', function(e) {
            e.preventDefault();
            checkValidity();
        });
    });
</script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                {{ form_start(form) }}
                <h2>{% trans %}CORE.PLEASE_LOGIN{% endtrans %}</h2>
                <h4 id="infoBox"></h4>
                <h4 id="errorBox"></h4>
                {{ form_widget(form) }}
                <div>
                    <button type="submit" id="submit" class="btn btn-primary" >
                        Submit
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}