{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{% trans %}CORE.LEASING_CALCULATOR_CREDITORS_PROFILES_TITLE{% endtrans %}{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script>
        var formIndex = {{ creditorsStartIndex }};
        var removeCreditor = function(caller, id){
            var fieldSetContainer = $('#multiple_creditor_profiles_form_creditors_' + id.toString());
            fieldSetContainer.remove();
            caller.remove();
        };
        $(document).ready(function () {
            var theFormContainer = $('#multiple_creditor_profiles_form_creditors');
            var addButton = $('#addNextCreditorButton');
            var formPrototype = theFormContainer.data('prototype');
            var removeButtonPrototype = "<div><a style='float:right;' onclick='removeCreditor(this, __name__);' href='#'>Remove this creditor</a></div>";
            addButton.click(function (e) {
                e.preventDefault();
                var newForm = formPrototype;
                newForm = newForm.replace(/__name__/g, formIndex);
                var removeButton = removeButtonPrototype;
                removeButton = removeButton.replace(/__name__/g, formIndex);
                formIndex++;
                theFormContainer.append(removeButton);
                theFormContainer.append(newForm);
            });
        });
    </script>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                {{ form_start(form) }}
                <h2>{% trans %}CORE.PLEASE_FILL_CREDITORS_DATA{% endtrans %}</h2>
                {{ form_widget(form) }}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" id="addNextCreditorButton"
                                    name="multiple_creditor_profiles_form[saveButton]"
                                    class="btn btn-info btn">
                                {% trans %}CORE.ADD_NEXT_CREDITOR{% endtrans %}
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <button type="button" id="multiple_creditor_profiles_form_saveButton"
                                    name="multiple_creditor_profiles_form[saveButton]"
                                    class="btn btn-info btn" onclick="window.location='{{ path('leasing-calculator') }}';">
                                {% trans %}CORE.GO_BACK{% endtrans %}
                            </button>
                        </div>
                        <div class="col-8">
                        </div>
                        <div class="col-2">
                            <button type="submit" id="multiple_creditor_profiles_form_saveButton"
                                    name="multiple_creditor_profiles_form[saveButton]"
                                    class="btn btn-success btn">
                                {% trans %}CORE.SUBMIT{% endtrans %}
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}