{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{% trans %}CORE.LEASING_CALCULATOR_LEASING_TAKER_PROFILE_TITLE{% endtrans %}{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script>
    var updateHiddenFields = function(){
        var debtCheckbox = $('#leasing_taker_profile_form_isInDebtCheckbox');
        var debtAmountContainer = $('#leasing_taker_profile_form_debtAmount').parent();
        var debtKRDContainer = $('#leasing_taker_profile_form_isInKRD').parent().parent().parent();
        var value = debtCheckbox.is(':checked');
        if(value) {
            debtAmountContainer.show();
            debtKRDContainer.show();
        } else {
            debtAmountContainer.hide();
            debtKRDContainer.hide();
        }
    }
    $(document).ready(function(){
        var debtCheckbox = $('#leasing_taker_profile_form_isInDebtCheckbox');
        updateHiddenFields();
        debtCheckbox.click(function(){
            updateHiddenFields();
        });
    });
    </script>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                {{ form_start(form) }}
                <h2>{% trans %}CORE.PLEASE_FILL_LEASING_TAKER_DATA{% endtrans %}</h2>
                {{ form_widget(form) }}

                <div class="container">
                    <div class="row">
                        <div class="col-2">

                        </div>
                        <div class="col-8">
                        </div>
                        <div class="col-2">
                            <button type="submit" id="multiple_creditor_profiles_form_saveButton"
                                    name="multiple_creditor_profiles_form[saveButton]"
                                    class="btn btn-success btn">
                                {% trans %}CORE.SUBMIT{% endtrans %}
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}