{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{% trans %}CORE.LEASING_CALCULATOR_LEASING_DETAILS_TITLE{% endtrans %}{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}


{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                {{ form_start(form) }}
                <h2>{% trans %}CORE.PLEASE_FILL_LEASING_DETAILS_DATA{% endtrans %}</h2>
                {{ form_widget(form) }}

                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <button type="button" id="multiple_creditor_profiles_form_saveButton"
                                    name="multiple_creditor_profiles_form[saveButton]"
                                    class="btn btn-info btn" onclick="window.location='{{ path('leasing-calculator-creditors') }}';">
                                {% trans %}CORE.GO_BACK{% endtrans %}
                            </button>
                        </div>
                        <div class="col-8">
                        </div>
                        <div class="col-2">
                            <button type="submit" id="multiple_creditor_profiles_form_saveButton"
                                    name="multiple_creditor_profiles_form[saveButton]"
                                    class="btn btn-success btn">
                                {% trans %}CORE.SUBMIT{% endtrans %}
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}