{% extends 'base.html.twig' %}

{% block title %}{% trans %}CORE.MAIN_PAGE_TITLE{% endtrans %}{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if not app.user %}
                    <a href="{{ path('register') }}">
                        <div class="register-now-circle">{% trans %}CORE.REGISTER_NOW{% endtrans %}</div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}