<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ path('main-page') }}">{% trans %}CORE.BRAND_NAME{% endtrans %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('leasing-calculator') }}">{% trans %}CORE.NAVIGATION_LEASING_CALCULATOR{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('api-zone') }}">{% trans %}CORE.NAVIGATION_API_ZONE{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">{% trans %}CORE.NAVIGATION_LOGOUT{% endtrans %}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">{% trans %}CORE.NAVIGATION_REGISTER{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('api-zone') }}">{% trans %}CORE.NAVIGATION_API_ZONE{% endtrans %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>